@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
}

.button {
  height: 54px;
  border-radius: 25px;
  background-color: #FE9013;
  border: #FE9013;
}
.button:hover {
  background-color: #000000;
  transition: all 1s ease-in-out;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 446px);
}

header {
  max-width: 100%;
  min-width: 1116px;
  height: 811px;
  font-family: "Roboto", sans-serif;
  background: url(/online-zoo/assets/images/giant_panda.jpg);
  background-repeat: no-repeat;
  margin: auto;
}

nav {
  height: 81px;
  background: #000000;
  width: 100%;
  position: relative;
}

.nav__body {
  width: 65%;
  justify-content: space-between;
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  margin: auto;
  height: 80px;
  background-color: #000000;
}
.nav__body a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}
.nav__body a:hover {
  color: #FE9013;
  transition: all 0.1s ease-in-out;
}

.design {
  margin-left: 35%;
}

.pet__logo {
  width: 82px;
  height: 51px;
  border: 1px solid #ffffff;
}
.pet__logo img {
  position: relative;
  top: -25px;
  left: 11px;
}
.pet__logo h1 {
  font-size: 19px;
  line-height: 23px;
  vertical-align: top;
  font-weight: 400;
  text-align: center;
}
.pet__logo:hover {
  color: #FE9013;
  border: 1px solid #FE9013;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.text__head {
  background-color: #FE9013;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  flex-direction: column;
  align-items: center;
  font-size: 120px;
  font-weight: 800;
  line-height: 3%;
  color: #ffffff;
  margin-left: 50%;
  margin-top: 12px;
}
.text__head p {
  margin-left: 40%;
  margin-top: 18%;
}

.f {
  color: #FFEE2E;
}

.head__btn {
  font-size: 16px;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 71px;
  margin-left: 60%;
  margin-bottom: 100px;
  padding: 0 5%;
}

.description {
  z-index: 1;
  margin-top: 140px;
  justify-content: center;
}

.description__txt {
  width: 470px;
  margin-left: 87px;
  font-family: roboto;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}
.description__txt h2 {
  font-size: 48px;
  font-weight: 200;
  line-height: 60px;
}
.description__txt h3 {
  font-size: 24px;
  margin-top: 54px;
  margin-bottom: 14px;
  font-weight: 200;
  line-height: 30px;
}
.description__txt p {
  margin-top: 20px;
  line-height: 22px;
}

.map {
  position: relative;
}

.flower1 {
  background-image: url(/1100-git-JSFE2022Q3/online-zoo/assets/images/flower_foto1.png);
  background-repeat: no-repeat;
  z-index: 2;
  width: 204px;
  height: 605px;
  right: 0;
  top: -130px;
}

.card__container {
  margin: 0 auto;
  width: 63%;
  font-family: roboto;
}

.card__slide {
  width: 366px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.card__slide img {
  margin-bottom: 4px;
  border-radius: 5px 5px 0 0;
}

.card_name {
  display: flex;
  padding: 0 10px;
  flex-direction: row;
  justify-content: space-between;
}
.card_name img {
  margin-top: 5px;
  height: 32px;
}
.card_name a {
  text-decoration: none;
  color: #000000;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
}

.animal__card {
  margin-top: 180px;
}

.border {
  width: 366px;
  height: 426px;
  background-clip: padding-box;
  border: 1px solid #FE9013;
  border-radius: 5px;
}

.left {
  margin-left: 17%;
  margin-top: 21%;
}/*# sourceMappingURL=style.css.map */